@font-face {
    font-family: Satoshi;
    src: url(./src/Satoshi-Variable.ttf);
}

:root {
    --bgColor: #121212;
    --bgColor2: #121212;
    --accentColor: #E6E6E6;
    --accentColor2: #75ffff;
    --textColor: #acaaaa;
    --delay: .3s;
}

.box2{
    width: 1000px;
    padding: 1px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: Satoshi;
}

.box{
    width: 400px;
    padding: 1px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: Satoshi;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Satoshi;
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-color: black;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: Satoshi;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    align-items: center;
    text-align: center;
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.fa-solid {
    float: left;
}

.fa-brands {
    float: left;
}

.fab {
    float: left;
}

.link {
    font-family: Satoshi;
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid rgb(72, 72, 72) 2px;
    border-radius: 10px;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 13px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

.prolink {
    position: relative;
    background-color: transparent;
    color: var(--accentColor2);
    border: solid var(--accentColor2) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .prolink:hover {
        background-color: var(--accentColor2);
        color: var(--bgColor);
    }
}

.prolink:active {
    background-color: var(--accentColor2);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}


.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

